In [1]:
import pandas as pd;

In [2]:
df = pd.read_csv("screen_time_app_usage_dataset.csv", encoding='unicode_escape')

In [3]:
print(df)

      User_Id     Date      Time         App_Name       Category  Screen_Time  \
0        1051   1/1/24  12:00 PM           Camera      Utilities        24.53
1        1088   1/1/24  12:43 PM           Chrome      Utilities        19.78
2        1052   1/1/24   1:27 AM          Spotify  Entertainment        32.03
3        1028   1/1/24   2:11 AM      Google Maps      Utilities        19.10
4        1034   1/1/24   2:54 AM        Instagram         Social        25.19
...       ...      ...       ...              ...            ...          ...
2995     1086  3/31/24   9:05 AM           Camera      Utilities         9.91
2996     1068  3/31/24   9:48 AM          Netflix  Entertainment         3.40
2997     1081  3/31/24  10:32 AM  Microsoft Teams   Productivity        17.18
2998     1038  3/31/24  11:16 AM         WhatsApp         Social       149.72
2999     1089   4/1/24  12:00 PM            Gmail      Utilities        18.50

      Launches  Interactions  Is_Productive  Youtube_Views  Youtube_Likes  \
0            2             7          False              0              0
1            3             2          False              0              0
2            1             6          False              0              0
3            2             5          False              0              0
4            1             5          False              0              0
...        ...           ...            ...            ...            ...
2995         2             3          False              0              0
2996         4             2          False              0              0
2997         2             6           True              0              0
2998         3             5          False              0              0
2999         1             2          False              0              0

      Youtube_Comments
0                    0
1                    0
2                    0
3                    0
4                    0
...                ...
2995                 0
2996                 0
2997                 0
2998                 0
2999                 0

[3000 rows x 12 columns]

In [4]:
df.describe()

,User_Id,Screen_Time,Launches,Interactions,Youtube_Views,Youtube_Likes,Youtube_Comments
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,1049.800667,29.902057,1.993333,4.962000,12144.653333,693.209333,127.590000
std,29.406369,30.561599,1.403547,2.223257,61947.687145,3856.187931,737.983713
min,1000.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1024.000000,8.617500,1.000000,3.000000,0.000000,0.000000,0.000000
50%,1049.000000,20.585000,2.000000,5.000000,0.000000,0.000000,0.000000
75%,1076.000000,40.415000,3.000000,6.000000,0.000000,0.000000,0.000000
max,1100.000000,218.390000,9.000000,13.000000,494839.000000,43893.000000,8934.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User_Id           3000 non-null   int64
 1   Date              3000 non-null   object
 2   Time              3000 non-null   object
 3   App_Name          3000 non-null   object
 4   Category          3000 non-null   object
 5   Screen_Time       3000 non-null   float64
 6   Launches          3000 non-null   int64
 7   Interactions      3000 non-null   int64
 8   Is_Productive     3000 non-null   bool
 9   Youtube_Views     3000 non-null   int64
 10  Youtube_Likes     3000 non-null   int64
 11  Youtube_Comments  3000 non-null   int64
dtypes: bool(1), float64(1), int64(6), object(4)
memory usage: 260.9+ KB

In [6]:
df.columns

Index(['User_Id', 'Date', 'Time', 'App_Name', 'Category', 'Screen_Time',
       'Launches', 'Interactions', 'Is_Productive', 'Youtube_Views',
       'Youtube_Likes', 'Youtube_Comments'],
      dtype='object')

In [7]:
df.head()

,User_Id,Date,Time,App_Name,Category,Screen_Time,Launches,Interactions,Is_Productive,Youtube_Views,Youtube_Likes,Youtube_Comments
0,1051,1/1/24,12:00 PM,Camera,Utilities,24.53,2,7,False,0,0,0
1,1088,1/1/24,12:43 PM,Chrome,Utilities,19.78,3,2,False,0,0,0
2,1052,1/1/24,1:27 AM,Spotify,Entertainment,32.03,1,6,False,0,0,0
3,1028,1/1/24,2:11 AM,Google Maps,Utilities,19.10,2,5,False,0,0,0
4,1034,1/1/24,2:54 AM,Instagram,Social,25.19,1,5,False,0,0,0

In [8]:
df.tail()

,User_Id,Date,Time,App_Name,Category,Screen_Time,Launches,Interactions,Is_Productive,Youtube_Views,Youtube_Likes,Youtube_Comments
2995,1086,3/31/24,9:05 AM,Camera,Utilities,9.91,2,3,False,0,0,0
2996,1068,3/31/24,9:48 AM,Netflix,Entertainment,3.40,4,2,False,0,0,0
2997,1081,3/31/24,10:32 AM,Microsoft Teams,Productivity,17.18,2,6,True,0,0,0
2998,1038,3/31/24,11:16 AM,WhatsApp,Social,149.72,3,5,False,0,0,0
2999,1089,4/1/24,12:00 PM,Gmail,Utilities,18.50,1,2,False,0,0,0

In [9]:
df.dropna(inplace=True)

In [10]:
pd.isnull(df).sum()

User_Id             0
Date                0
Time                0
App_Name            0
Category            0
Screen_Time         0
Launches            0
Interactions        0
Is_Productive       0
Youtube_Views       0
Youtube_Likes       0
Youtube_Comments    0
dtype: int64